body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.App {
  max-width: 500px;
  text-align: center;
  padding: 20px 40px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.182);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}
.input-container{
  display: flex;
}
input {
  padding: 10px;
  flex: 1;
}

.strength-sections {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  gap: 2px;
}

.strength-section {
  height: 20px;
  flex-grow: 1;
  border-radius: 16px;
}
